<template name="home">

    {{> upload_semantic_ui contentType='pdfs' fileTypes='.pdf' }}

    {{> upload_bootstrap contentType='images' fileTypes='video/*' heading="Single Video Autostart Upload" autoStart=true}}

	{{> upload_bootstrap contentType='images' fileTypes='.png' heading="Single Image Manual Upload" multiple=false autoStart=false}}

    {{> upload_bootstrap contentType='pdfs' fileTypes='.pdf' heading="Multiple Autostart Upload PDFs" multiple=true autoStart=true}}

	{{> upload_bootstrap contentType='pdfs' fileTypes='.pdf' heading="Multiple Manual Upload PDFs" multiple=true autoStart=false}}

    <p class="well">
        {{> uploadInfo}}
    </p>
</template>

<template name="uploadInfo">
    <b>Upload Info</b><br>

    {{#each files}}
        <ul>
            <li>Name: {{ name }}</li>
            <li>Size: {{ size }} B</li>
            <li>Type: {{ type }}</li>
            <li>Last Modified: {{ lastModified }}</li>
            <li>Last Modified Date: {{ lastModifiedDate }}</li>
        </ul>
    {{/each}}
</template>

