/* CSS declarations go here */

.jqDropZone {
    background: lightgrey;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.jqDropZone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.jqDropZone.hover {
    background: lawngreen;
}
.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/* HOME Template */

.documentList
{
    overflow-x:auto;
    overflow-y:hidden;
    height:260px;
    width:100%;
    padding: 0 15px;
}

.documentItem
{
    border:1px solid black;
    padding:0;
    height:230px;
    width: 200px;
    overflow: hidden;
    text-align: center;
}

.documentItem label {
    font-size: x-small;
}

.documentItem img
{
    max-width: 180px;
    max-height: 140px;
}

.list-inline {
    white-space:nowrap;
}